{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HALO</title>
</head>
<body  background="{% static 'images/images.jpg' %}">
    <h1 id="nama" class="text-white">HALO {{user.username}} , Selamat Datang</h1>
    <br>
    <div>
        <br>
        <form method="POST" action="/logoutUser/">
            {% csrf_token %}
            <button id="out" type ="submit" class = "btn btn-warning">Logout</button> 
        </form>
    </div>

</body>

</html>