{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
  
</head>
<body  background="{% static 'images/images.jpg' %}"></body>>
    <h1 class="text-white">Login disini!</h1>
    <br>
    <div class = "container"> 
        <form method = "POST">
            {% csrf_token %}
            <div class="form-group">
                <label for ="username">Username </label>
                <br>
                <input id=name type ="text" name= "username" id ="username" required>
            </div>
            <div class="form-group">
                <label for ="password">Password </label>
                <br>
                <input id="passw" type ="password" name= "password" id="password" required>
            </div>
                <p style="background-color: aliceblue;">{{user_not_found}}</p>
            <button id="btn" type ="submit" class = "btn btn-secondary border-white">Login</button> 
        </form>
    </div>

</body>

</html>